.navbar {
  position: sticky;
  top: 0;
  z-index: 1030;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.7); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  
}

  .nav-link,.navbar-brand {
    text-decoration: none; 
  }
  
  .nav-link:hover, .navbar-brand:hover {
    text-decoration: none; 
  }
  
  @media (max-width: 768px) {
    .navbar-nav {
      text-align: center; /* Center the items */
      width: 100%; /* Full width */
    }
  
    .navbar-nav .nav-item {
      display: flex; /* Ensure items stack */
      justify-content: center; /* Center items */
      margin-bottom: 10px; /* Add spacing between items */
    }
  
    .navbar-nav .btn {
      margin: 0 auto; /* Center the button */
    }
  }