.navbar {
  position: sticky;
  top: 0;
  z-index: 1030;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav-link,
.navbar-brand {
  text-decoration: none;
}

.navbar-brand {
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  font-size: 1.8rem;
  color: #ffd700;
}

.navbar-brand:hover {
  text-decoration: none;
  color: #fff; 
}

.nav-link:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
    width: 100%;
  }

  .navbar-nav .nav-item {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .navbar-nav .btn {
    margin: 0 auto;
  }
}
